{% extends 'base.html' %}

{% block content %}
<h1> {% block title %} Suite Of Games {% endblock %}</h1>

<form action="{{ url_for('variants') }}" method="POST">
    <input type="hidden" id="game_index" name="game_index" value="4">
    <input type="submit" value="Achi" class="btn btn-primary">
</form>

<hr>

<form action="{{ url_for('variants') }}" method="POST">
    <input type="hidden" id="game_index" name="game_index" value="16">
    <input type="submit" value="Connect 4" class="btn btn-primary">
</form>

{% endblock %}