{% extends 'base.html' %}

{% block content %}
<h1> {% block title %} Dashboard {% endblock %}</h1>

<form action="{{ url_for('start') }}" method="POST">
    <input type="submit" value="Start Game" class="btn btn-primary">
</form>

<hr>

{% if post['is_started'] %}
<form action="{{ url_for('move') }}" method="POST">
    <input type="submit" value="Execute Move" class="btn btn-primary">
</form>
{% else %}
<form action="{{ url_for('move') }}" method="POST">
    <input disabled type="submit" value="Execute Move" class="btn btn-primary">
</form>
{% endif %}


<hr>

<form method="post">
    <div class="form-group">
        <label for="content">Messages</label>
        <textarea readonly name="content" placeholder="" style="height: 200px;"
                  class="form-control">{{ request.form['content'] or post['content']}}</textarea>
    </div>
</form>

{% endblock %}